 
<h1>Listing posts</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Comment</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <%= form_tag @person do %>
    <%= label_tag "first_name" %>:
    <%= text_field_tag "first_name" %><br />

    <%= label_tag "last_name" %>:
    <%= text_field_tag "last_name" %><br />
    <label "create" id="create_new" value ="create">create</label>
    <%#= submit_tag "create" , :onclick => "return renderfunction();" %>
  <% end %>
    <div id = "index_table"> 
    
    </div>
    <!--<%# @posts.each do |post| %>
      <tr>
        <td><%#= post.name %></td>
        <td><%#= post.comment %></td>
        <td><%#= link_to 'Show', post %></td>
        <td><%#= link_to 'Edit', edit_post_path(post) %></td>
        <td><%#= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <%# end %> -->
  </tbody>
</table>

<br>

<%= link_to 'New Post', new_post_path %>

<script id ="table_value" type="text/x-kendo-template" >
<tr> <td>#= first_name#</td> <td></td> <td></td>
    <td>#= last_name#</td> 
</tr>
</script>

<script>
  $(document).ready(function(){
	    
		$("#create_new").click(function(){
      var template;
		a=$("#first_name").val();
		b=$("#last_name").val();
	  var result = [ { first_name :a, last_name :b}];
		var dataSource = new kendo.data.DataSource({
			data :result,
		    change: function(){
        template = kendo.template($("#table_value").html());
		    $("#index_table").append(kendo.render(template, this.view()));
		    }
		});
		dataSource.read();
     
	});
  });
</script>
