<!DOCTYPE html>
<html>
<head>
  <title>KendoUi</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <%= csrf_meta_tags %>
   <%= javascript_include_tag "js/kendo.web.min.js" %>
</head>
<body>

<%= yield %>

</body>
</html>
